name: Release Android
on:
  push:
    branches:
      - release
  workflow_dispatch:

jobs:
  buildApp:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Flutter Doctor
        run: flutter doctor -v
      - run: flutter pub get
      - run: cd app && flutter build apk --release